<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>MARRIAGE CERTIFICATE</title>
    <meta name="description" content="Marriage certificate dashboard of Shree Perne Muchilot Bhagavathi Kshethra">
    <meta name="keywords" content="Perne, Muchilot Bhagavathi, Marriage, Certificate">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pernekshethracertificates.netlify.app">
    <meta property="og:title" content="Marriage Certificate">
    <meta property="og:image:secure_url" content="https://pernekshethracertificates.netlify.app/thumbnail.jpg">
    <meta property="og:description" content="Marriage certificate dashboard of Shree Perne Muchilot Bhagavathi Kshethra">
    <meta property="og:site_name" content="Marriage Certificate">
    <meta property="og:locale" content="en_US">
    <meta property="fb:app_id" content="442594016836222">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rakshithbellare">
    <meta name="twitter:creator" content="@rakshithbellare">
    <meta name="twitter:url" content="https://pernekshethracertificates.netlify.app">
    <meta name="twitter:title" content="Marriage Certificate">
    <meta name="twitter:description" content="Marriage certificate dashboard of Shree Perne Muchilot Bhagavathi Kshethra">
    <meta name="twitter:image" content="https://pernekshethracertificates.netlify.app/thumbnail.jpg">

    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛕</text></svg>" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>

    <div id="app">
      <p>The table on this page reflects the data from this <a href="https://docs.google.com/spreadsheets/d/1OHbIXS3y8lfG4P1ByVJeV43-SjTOiJ8qzIrdfgiRYzY/edit#gid=0" target="_blank" rel="noreferrer noopener">sheet</a> which is a collection of responses from the form</p>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-warning">
          <thead>
            <tr>
              <th v-for="(head, index) in sheetDataHead" :key="index">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(data, index) in sheetDataBody" :key="index">
              <td v-for="(item, i) in data" :key="i">{{ item }}</td>
              <td><button @click="printPDF(data)">PRINT</button></td>
            <tr>
          </tbody>
        </table>
      </div>

      <label for="date">Marriage date (if not set, todays date is picked)</label>
      <input class="form-control" type="date" id="date" name="date" v-model="date" />

      <label for="issuedate">Certificate issue date (if not set, todays date is picked)</label>
      <input class="form-control" type="date" id="issuedate" name="issuedate" v-model="issueDate" />

      <label for="printbackground">Print background</label>
      <input class="form-check-input" type="checkbox" id="printbackground" name="printbackground" checked v-model="printBackground" />

      <div v-if="loading" id="loading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); filter: grayscale(1); font-size: 64px;">LOADING....</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script type="module" src="/demo/dataurl.js"></script>
    <script>window.jspdf = new jsPDF()</script>
    <script src="/demo/index.js" type="module"></script>
  </body>
</html>
